@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --bg-color: #000;
  --form-color: #d3d3d3;
  --nav-color: #dbdbdb;
  --main-color: #c422ff;
  --main-color-hover: #d050fe;
  --text-color: #fff;
  --text-color-2: #000;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
  outline: none;
  transition: 0.2s ease-in-out;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}
::selection {
  background: var(--main-color);
  color: var(--text-color);
}

html{
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  overflow-x: hidden;
}

#navbar-section {
  height: 40px;
  width: 100%;
  box-shadow: var(--main-color) 0px -12px 20px;
  position: fixed;
  z-index: 999;
}

#navbar-section nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100%;
  background-color: var(--bg-color);
}


.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  margin-left: 4vw;
  color: var(--main-color);
}


.logo:hover {
  color: var(--main-color-hover);
}

nav ul {
  display: flex;
  list-style: none;
  width: 35vw;
  justify-content: space-around;
  margin-right: 5vw;
}

nav ul li {
  display: flex;
  align-items: center;
  height: 80%;
  padding: 0 5px;
}

nav ul li:hover {
  color: var(--main-color);
}

nav ul li.active {
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
}

#intro-section {
  margin-top: 10vh;
  min-height: 100vh;
  position: relative;
}

#intro-section .image {
  height: 80vh;
  width: 80vh;
  position: absolute;
  top: 5%;
  right: 5%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border: 5px solid var(--main-color);
  border-radius: 50%;
}

#intro-section .image img {
  height: 100%;
}

.my-intro {
  margin: 80px;
}

.my-intro h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

.my-intro h2 span {
  font-weight: 700;
  color: var(--main-color);
}

.my-intro h3 {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.my-intro .down-cv-btn {
  display: inline-block;
  padding: 10px 35px;
  margin: 20px 5px;
  border-radius: 2px;
  font-weight: 600;
  box-shadow: 0px 0px 10px #000000eb;
  background-color: var(--main-color);
  color: var(--text-color);
}

.my-intro .socials a{
  height: 2.5rem;
  width: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 5px 10px;
  border-radius: 50%;
  border: 2px solid var(--text-color);
}


.my-intro .socials a:hover{
  background-color: var(--main-color);
  border-color: var(--main-color);
}


#about-me-section {
  text-align: center;
  margin-bottom: 10vh;
  display: flex;
  padding: 20vh 10vw 0 10vw;
  justify-content: center;
  align-items: center;
}

.section-heading {
  display: inline-block;
  text-align: center;
  font-weight: 700;
  color: var(--main-color);
  font-size: 2rem;
  padding: 0 20px;
  text-align: center;
  border-bottom: 5px solid var(--main-color);
}


.about-me-img{
  height: 50vh;
  width: 50vh;
  overflow: none;
  margin-right: 10%;
  border: 3px solid var(--main-color);
}

.about-me-img img{
  height: 100%;
}

.about-me-img-mobile{
  display: none;
}

#about-me-section .about-me-para {
  text-align: justify;
  color: var(--text-color);
  font-size: 1.2rem;
  margin: 20px auto;
}

#skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  padding-top: 20vh;
}

#skills-section{
  display: flex;
  margin-bottom: 20vh;
}


.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 75vw;
  margin: 50px auto;
}

.container .skill-box{
  width:30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: 7px solid var(--main-color);
  border-bottom: 7px solid var(--main-color);
  border-radius: 15px;
  padding: 20px 10px;
  cursor: pointer;
}

.container .skill-box:hover{
  border-radius: 0;
}
  

.skill-box i{
  font-size: 3rem;
  color: var(--main-color);
}

.skill-box h3{
  color: var(--main-color);
  font-weight: 700;
  font-size: 1.3rem;
  margin: 10px;
}

.skill-box p{
  text-align: center;
}


#projects-section{
  margin-bottom: 10vh;
  padding-top: 10vh;
  width: 100vw;
  text-align: center;
}

.projects-section .container{
  width: 80vw;
  margin: 0 auto;
  display: flex;
}

.container .project-box{
  width: 30%;
  height: 350px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  margin: 0vh auto 5vh auto;
  border-left: 7px solid var(--main-color);
  border-right: 7px solid var(--main-color);
  border-radius: 15px;
}


.project-box .image{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -2;
}

.image img{
  height: 100%;
}

.project-box .bg-blur{
  height: 50%;
  width: 100%;
  background: linear-gradient(to top, #000000ee 30%, transparent);
  background-position: bottom 10%;
  z-index: -1;
  position: absolute;
}

.project-box h3{
  font-size: 1.5rem;
  font-weight: 600;
  border-bottom: 4px solid var(--text-color);
  padding: 0 10px;
}

.project-box p{
  margin: 5px auto;
  font-size: 0.9rem;
}
.project-box .links{
  min-width: 150px;
  display: flex;
  justify-content: space-around;
  margin: 5px auto 0 auto;
}
.project-box .links a{
  display: inline-flex;
  font-size: 0.8rem;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid var(--text-color);
}

.project-box .links a:hover{
  color: var(--text-color);
  border-color: var(--main-color);
  background-color: var(--main-color);
}

.github-link{
  display: inline-flex;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  font-weight: 600;
  border-radius: 2px;
}

.github-link:hover{
  background-color: var(--main-color-hover);
}

.github-link i{
  margin-left: 10px;
}

#contact-me-section{
  padding-top: 10vh;
  text-align: center;
}

#contact-me-section .container{
  display: flex;
  justify-content: space-around;
}

.contacts{
  width: 20vw;
  display: inline;
  text-align: left;
}

.contacts .contact{
  height: 20%;
  font-weight: 600;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.contacts .contact:hover{
  color: var(--main-color);
}

.contact i{
  font-size: 1.5rem;
  margin-right: 15px;
  color: inherit;
  transition: 0s;
}


.contact-me-form{
  width: 50vw;
  display: flex;
  flex-direction: column;
}


.contact-me-form  input{
  width: 44%;
  height: 40px;
  background-color: var(--form-color);
  border: none;
  margin: 0 1%;
  padding: 10px;
  color: #000;
}


.contact-me-form  textarea{
  background-color: var(--form-color);
  border: none;
  resize: none;
  width: 91%;
  margin: 10px auto;
  height: 200px;
  padding: 10px;
  color: #000;
}


.contact-me-form button{
  width: 250px;
  height: 50px;
  margin: 10px auto;
  background-color: var(--main-color);
  border: none;
  cursor: pointer;
}


.contact-me-form button:hover{
  background-color: var(--main-color-hover);
}


#footer-section{
  background-color: var(--form-color);
  width: 100vw;
  height: 50px;
  margin-top: 200px;
  color: #696969;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-weight:300;
}

.thank-you-page{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: var(--main-color);
}

.thank-you-page h1{
  font-size: 3rem;
  font-weight: 800;
}

.thank-you-page a{
  display: inline-flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 20px;
  background-color: var(--main-color);
  padding: 10px 50px;
}


@media only screen and (max-width: 720px) {
  #navbar-section {
    height: 50px;
    width: 105vw;
  }

  nav ul {
    display: none;
  }

  #intro-section {
    margin-top: 5vh;
  }
  
  #intro-section .image {
    height: 90vw;
    width: 90vw;
    margin:40px auto 0 auto;
    position: static;
  }
  

  .my-intro {
    margin: 20px;
  }
  
  .my-intro h2 {
    font-size: 1.5rem;
  }
  

  .my-intro h3 {
    font-size: 0.9rem;
  }
  
  
  #about-me-section {
    padding: 5vh 2vw 0 2vw;
  }

  
  
  .about-me-img{
    display: none;
  }
  .about-me-img-mobile{
    display: block;
    height: 80vw;
    width: 80vw;
    overflow: hidden;
    margin: 10px auto;
    border: 3px solid var(--main-color);
  }
  
  .about-me-img-mobile img{
    width: 100%;
  }

  #about-me-section .about-me-para {
    font-size: 1rem;
  }
  
  #skills-section{
    margin-bottom: 5vh;
  }
  
  
  .container{
    width: 90vw;
  }
  
  .container .skill-box{
    width:100%;
    margin: 10px;
  }
  
  #projects-section{
    margin-bottom: 10vh;
    padding-top: 5vh;
    width: 100vw;
    text-align: center;
  }
  
  .projects-section .container{
    width: 90vw;
  }
  
  .container .project-box{
    width: 90%;
  }
  
  
  #contact-me-section{
    padding-top: 5vh;
  }
  
  #contact-me-section .container{
    display: flex;
    flex-direction: column;
  }
  
  .contacts{
    width: 100vw;
  }
  
  .contacts .contact{
    height: 50px;
  }
  
  
  
  .contact-me-form{
    width: 95vw;
    margin-top: 5vh;
  }
  
  
  .contact-me-form  input{
    width: 90%;
    height: 40px;
    margin: 1% 0;
  }

  
  #footer-section{
    font-size: 0.8rem;
    width: 105vw;
  }
  
  .thank-you-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: var(--main-color);
  }
  
  .thank-you-page h1{
    font-size: 3rem;
    font-weight: 800;
  }
  
  .thank-you-page a{
    display: inline-flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 20px;
    background-color: var(--main-color);
    padding: 10px 50px;
  }
}